

html{
	background-color: #BBB4B2;

}
body{
	background-color: white;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 5%;
	margin-top: 5%;
	display: flex;

}

.left{
	background: #292b2f;
	width: 400px;
	padding: 0 20px;
	
}
.header{
	background: #292b2f;
	padding: 15px 30px;
	color: #fff;
	height: 240px;
}


.title{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-bottom: 10px;
	color: #3525af;
	position: relative;
	text-align: right;
	margin-bottom: 15px;
	text-decoration: underline;
	margin-top: 20px;

	
}

div{
	margin: 0px;
}
img{
	margin: 25px;
	max-height: 350px;
	max-width: 350px;
}


.info{
	width: calc(100%  - 125px);
	padding-left: 25px;
	position: relative;
}

.info_title{
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	color: #9153c9;
}
.info_com{
	font-weight: 300;
	font-size: 14px;
	margin-top: 3px;
}

.info_cont{
	margin-top: 15px;
}


 .li_wrap .text{
	width: calc(100% - 50px);
	word-break: break-word;
	font-size: 20px;
	text-shadow: 2px 2px #ff0000;
	color: #fff;
}

.left .li_wrap{
	margin: 40px;
}

.left .title{
	color: white;
	text-align: center;
	text-shadow: 2px 2px #ff0000;

}